/* Display */
.main {
  background-color: #ffffff;
  width: 600px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-container {
  padding: 60px 0;
}
.time {
  background: #00ff62;
  color: #fff;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 750px) {
  .main {
    width: 50%;
  }
}



